.import-dialog {
  height: 600px;

  .column {
    border: 1px solid #000;
    width: 300px;
    height: 500px;
    margin-right: 100px;
    float: left;

    li, div {
      width: 150px;
      height: 50px;
      border: 1px solid #000;
      margin: 10px 0;
      list-style: none;
      cursor: move;
    }

    ul {
      height: 100%;
    }

    .drag {
      background-color: aqua;
      position: absolute;
    }

    .mirror {
      background-color: gray;
      opacity: 0.6;
    }

    .mark {
      border: 2px solid red;
      width: 80%;
      height: 0px;
    }

    .active {
      border-width: 1px;
      border-style: solid;
      border-color: #ff5400;
    }

  }

  #middle {
    overflow: auto;
  }

  .right {
    border: 1px solid #000;
    height: 500px;
    margin-right: 100px;
    float: left;
    width: 320px;
    right: 0;
    top: 84px;
    bottom: 0;
  }

  .tab {
    height: 32px;

    a {
      text-decoration: none;
      cursor: pointer;
      float: left;
    }

    .tabitem {
      display: inline-block;
      width: 99px;
      height: 28px;
      line-height: 28px;
      font-size: 15px;
      text-align: center;
      border-radius: 2px;

      &.current {
        position: relative;
        background: rgba(0, 0, 0, 0.5);

        &:after {
          content: '';
          display: block;
          overflow: hidden;
          position: absolute;
          height: 0;
          width: 0;
          border: 4px solid transparent;
          border-top-color: rgba(0, 0, 0, 0.5);
          bottom: -8px;
          margin-left: -4px;
          left: 50%;
        }
      }
    }
  }

  .setting {
    margin-top: 10px;
    overflow-y: auto;
    padding: 19px 0;
  }

  .block {
    display: block;
  }

  .none {
    display: none;
  }

  .wf-settingpanel {
    overflow: auto;

    .wf-field {
      display: block;
      margin: 5px 0 30px;

      .fieldname {
        display: block;
        font-weight: bold;
        font-size: 12px;
        color: #666;
        margin-bottom: 12px;
        padding-left: 2px;

        span {
          font-size: 12px;
        }
      }

      .fieldinfo {
        font-size: 12px !important;
        margin-left: 8px;
        font-weight: normal;
        opacity: 0.9;
      }

      .fieldblock {
        display: block;
        margin: 5px 0;
        line-height: normal;
      }

      .action {
        margin-left: 5px;
        display: inline-block;
        opacity: 0.6;
        text-align: center;

        &:hover {
          opacity: 0.9;
        }
      }

      a {
        text-decoration: none;
        cursor: pointer;
      }
      .icon {
        background: #000;
        border-radius: 50%;
        font-style: normal;
        color: #fff;
        padding: 3px 4px 3px 4px;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        font-size: 12px;
      }

      &.wf-setting-options {
        .limitadd {
          .action-add {
            opacity: 0.2;
            pointer-events: none;
          }
        }
        .limitdel {
          .action-del {
            opacity: 0.2;
            pointer-events: none;
          }
        }
      }


    }

    input[type="text"], textarea {
      padding: 6px 10px;
      width: 200px;
      outline: none;
      font-size: 12px;

      &:focus {
        border-color: #3f9af9;
        background: transparent;
      }
    }

  }

}

